html, body {
    background-color: #02000a;
}

h1 {
    color: #14005c;
}

h2 {
    color: #370031;
}

h3 {
    color: #5D1132;
}

h4 {
    color: #832232;
}

h5 {
    color: #CE8964;
}

p {
    color: #e9a47f;
}